---
import FormattedDate from "./FormattedDate.astro"
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<section>
  {
    posts.map((post) => (
      <article class="index-posts">
        <a href={`/blog/${post.id}/`}>
          <h4 class="post-title">{post.data.title}</h4>
        </a>
        <p class="post-date">
          <FormattedDate date={post.data.pubDate} />
        </p>
      </article>
    ))
  }
</section>

<style>
  .index-posts {
    display: flex;
    justify-content: space-between;
  }
</style>