---
const {posts} = Astro.props;
---

<div class="prose">
  <h3 class="mt-30 text-gray-400">Older Posts:</h3>
</div>

<div role="list" class="divide-y divide-gray-100">
  {
    posts.map((post) => (
    <div class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap ms-0 ps-0">
      <div>
        <h5 class="font-semibold leading-6 text-gray-900">
          <a href={`/blog/${post.id}/`} class="hover:underline">{post.data.title}</a>
        </h5>
        <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
          <p>
            {post.data.pubDate.toLocaleDateString("en-US", { day: "2-digit", month: "long", year: "numeric" }).replace(",", "")}
          </p>
        </div>
      </div>
    </div>
    ))
  }
</div>